{% extends "base.html" %}

{% block content %}

<h1>Вход на сайт</h1>
<br>

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}  
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button" href="{% url 'account_reset_password' %}">Забыл пароль?</a>
  <br> <br>
  <button class="btn btn-primary" type="submit">Войти</button>
</form>

{% endblock %}
