{% extends 'main_page/base.html' %}
{% load  static %}

{% block name_app %}
    <a class="navbar-brand flex-grow-1" href="{% url 'zayavki:zayavki_list' %}"> > Заявки на уценку > {{ name_page }} </a>
{% endblock name_app %}


{% block content %}
    <a href="{% url 'zayavki:zayavki_list' %}" class="btn btn-link mb-2">Вернуться к списку</a>
    {% comment %} TODO сделать редирект на предыдущую страницу {% endcomment %}

    {% if access_open %}  
        <h2>Просмотр заявки</h2>
        <p> Дата: {{ zayavka.data }} </p>
        <p> Магазин: {{ zayavka.user.shop }} </p>
        <p> Код товара:  {{ zayavka.code }}</p>
        <p> Наименование:  {{ zayavka.name }}</p>
        <p> Категория:  {{ zayavka.category }}</p>
        <p> Описание товарного вида: {{ zayavka.description }}</p>
        <p> Фото: 
            {% if zayavka.foto1 %}
                <a href="/media/{{zayavka.foto1}}"  target="_blank" class="text-decoration-none">
                    <i class="fa fa-file-image-o fa-lg" aria-hidden="true"></i>
                </a>
            {% endif %}
            {% if zayavka.foto2 %}
                <a href="/media/{{zayavka.foto2}}"  target="_blank" class="text-decoration-none">
                    <i class="fa fa-file-image-o fa-lg" aria-hidden="true"></i>
                </a>
            {% endif %}  </p>             
        <p> Пояснения: {{ zayavka.clarification }}</p>
        <p> Статус: {{ status_as_text }}</p>
        
        <form action="{% url 'zayavki:zayavka-command' %}" method="post">
            {% csrf_token %}
            {% comment %} в скрытое поле _id записывается текущий id {% endcomment %}
            <input type="hidden" name="_id" value="{{zayavka.id}}">
            {% for btn in btns  %} 
                {% comment %} в имя поля записывается команда {% endcomment %}
                <input  type="submit" class="btn {{btn.btn_class}} mt-2" value="{{btn.btn_value}}" name="{{btn.btn_name}}">           
            {% endfor %}
        </form> 

        {% include "zayavki/comments.html" %}

    {% else %}
        <p> Данная заявка вам недоступна! </p>    
    {% endif %}              
{% endblock content %}